<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @tag.subject %>
</p>

<p>
  <b>Author:</b>
  <%= @tag.author %>
</p>

<p>
  <b>Title:</b>
  <%= @tag.title %>
</p>

<p>
  <b>Topic:</b>
  <%= @tag.topic %>
</p>

<p>
  <b>User:</b>
  <%= @tag.user_id %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
